@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
@import url(http://fonts.googleapis.com/css?family=Montserrat);

body{
    font-family:  montserrat;
}
/* nav sect */
.navbar{
    padding-top: 25px;
    padding-bottom: 0px;
    position: relative;
}
.navbar-brand{
    display: inline-block;
    border: 2px solid black;
    padding: 1px 15px;
    color: black;
    text-transform: uppercase;
    letter-spacing: .2em; 
    margin-left: 50px;
}
#ba{
    position: absolute;
    left:200px;
    color:rgba(255, 172, 62, 0.842) !important;
}
.navbar li{
    text-decoration: none;
    color:#5075ee;
}
#nav-regis{
    position: absolute;
    right:20px;
}

/* log in sect */
.login-block{
    background:white;  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to bottom, rgb(255, 191, 128), #ffb3b3);  /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to bottom, rgb(255, 191, 128), #ffb3b3); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    float:left;
    width:100%;
    padding : 20px ;
}
.banner-sec{
    background:url(../../img/login_bg.jpg)  no-repeat left bottom;
    background-size:cover; 
    min-height:500px; 
    border-radius: 0 10px 10px 0; 
    padding:0;
}
.container{
    background:white; 
    border-radius: 10px; 
    border-style:solid;
    border-width: 0px 2px 2px 2px;
    border-color:rgb(182, 182, 182);
    box-shadow:15px 20px 0px rgba(0,0,0,0.1);
}
.login-sec{
    padding: 50px 30px; 
    position:relative;
}
.login-sec .copy-text{
    position:absolute; 
    width:80%; 
    bottom:20px; 
    font-size:13px; 
    text-align:center;
}
.login-sec h2{
    margin-bottom:30px; 
    font-weight:800; 
    font-size:30px; 
    color:black;
    text-decoration: underline;
}
.btn-login{
    background:#ffb3b3; 
    color:#fff; 
    font-weight:600;
    margin-left: 100px;
}
