<div class="row">
    <div class="col-md-6">
      <a routerLink="/product" class="btn btn-link">
        <i class="fa fa-chevron-left my-2"></i> Back
      </a>
    </div>
    <div class="col-md-6">
  
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Add Section
    </div>
    <div class="card-body">
      <form>
        <!-- name sect -->
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="name" 
          required>
        </div>
        <!-- add product sect -->
        <div class="form-group">
          <label for="addpro">Add Product</label>
          <!-- <input type="text" class="form-control" name="addpro" 
          required> -->
          <!-- search bar -->
          <div class="col-sm-6 my-3">
            <div class="input-group">
              <input type="text" class="mx-0 my-0"  placeholder="Enter Product Name" >
              <span class="input-group-addon">
                  <i class="fa fa-search"><a href=""></a></i>
              </span>
            </div>
          </div>
        </div>
  
        <input type="submit" value="Add Section" class="btn btn-primary btn-block" >
      </form>
    </div>
  </div>