<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Registration Form</title>
</head>
<body>

  <div class = "container">
    <!-- nav bar -->
    <div >
      <div class = "navbar nav-expand-lg">
        <a class="navbar-brand px-4" href="index.html">LOGO</a>
        <p id = "ba" >Business Account</p>
        <a id="nav-regis" routerLink="/login">Have an account? Log In Now!</a>
      </div>
    </div>
    <!-- MultiStep Form -->
    
    <div class="row">
        <div class="col-md-6 container ">
            <form id="msform">
                <!-- progressbar -->
                <ul id="progressbar">
                    <li class="active">Agreement</li>
                    <li>Business Information</li>
                    <li>Process</li>
                </ul>
                <!-- fieldsets -->
                <fieldset>
                    <h2 class="fs-title">Setting Up Registration</h2>
                    <label for="username" class = "info">Username</label>
                    <input type="text" name="username" id = "username" placeholder="Username"/>
                    <label for="password" class = "info">Password</label>
                    <input type="text" name="password" id = "password" placeholder="Password"/>
                    <label for="repassword" class = "info">Confirm Password</label>
                    <input type="text" name="repassword" id = "repassword" placeholder="Confirm Password"/>
                    <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input">
                          <small>I have read and accept <a href="">the terms and conditions of
                              the Discount Card Agreement</a></small>
                        </label>
                    </div>
                    <a routerLink = "/regis2"> 
                      <button type="submit" class="btn btn-login next action-button">Next</button>
                    </a>
                </fieldset>
                <fieldset>
                    <h2 class="fs-title">Social Profiles</h2>
                    <h3 class="fs-subtitle">Your presence on the social network</h3>
                    <input type="text" name="twitter" placeholder="Twitter"/>
                    <input type="text" name="facebook" placeholder="Facebook"/>
                    <input type="text" name="gplus" placeholder="Google Plus"/>
                    <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                    <input type="button" name="next" class="next action-button" value="Next"/>
                </fieldset>
                <fieldset>
                    <h2 class="fs-title">Create your account</h2>
                    <h3 class="fs-subtitle">Fill in your credentials</h3>
                    <input type="text" name="email" placeholder="Email"/>
                    <input type="password" name="pass" placeholder="Password"/>
                    <input type="password" name="cpass" placeholder="Confirm Password"/>
                    <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                    <input type="submit" name="submit" class="submit action-button " value="Submit"/>
                </fieldset>
            </form>
        </div>
    </div>

    <!-- /.MultiStep Form -->
  </div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/multistepform/js/msform.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
