<nav class="navbar navbar-expand-md navbar-light mb-4 mt-4">
  <div class="container">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item mr-4">
        <a routerLink="/dist" (click)="onDist()" > 
        Discount Coupons 
      </a>
    </li>
      <li class="nav-item mr-4">
        <a routerLink="/members" (click)="onMem()" >
          Members
        </a> 
      </li>
      <li class="nav-item">
        <a routerLink="/product" (click)="onPro()" >
          Products
        </a> 
      </li>
    </ul>
  </div>
</nav>